<ms-page-title title="L'association" />

@if (vm(); as vm) {
  <h1>L'association ATPAC Maison Solidaire</h1>

  <h2>Horaires d'ouverture</h2>

  <p>
    La Maison Solidaire est aussi le lieu de vie de Valentin et des jeunes qu'il héberge. Afin de
    leur permettre d'avoir une vie, merci de prendre rendez-vous et de respecter ses horaires
    d'ouverture&nbsp;:
  </p>

  <dl class="row">
    <dt class="col-4 col-sm-2 col-xl-1 text-end">Lundi</dt>
    <dd class="col-8 col-sm-10 col-xl-11">de 9h00 à 12h00</dd>

    <dt class="col-4 col-sm-2 col-xl-1 text-end">Mardi</dt>
    <dd class="col-8 col-sm-10 col-xl-11">de 9h00 à 12h00 et de 14h00 à 17h00</dd>

    <dt class="col-4 col-sm-2 col-xl-1 text-end">Mercredi</dt>
    <dd class="col-8 col-sm-10 col-xl-11">de 9h00 à 12h00 et de 14h00 à 20h00</dd>

    <dt class="col-4 col-sm-2 col-xl-1 text-end">Jeudi</dt>
    <dd class="col-8 col-sm-10 col-xl-11">Fermé</dd>

    <dt class="col-4 col-sm-2 col-xl-1 text-end">Vendredi</dt>
    <dd class="col-8 col-sm-10 col-xl-11">de 9h00 à 12h00 et de 14h00 à 17h00</dd>
  </dl>

  <p>Pour prendre rendez-vous, contacte le coordinateur de l'association&nbsp;:</p>
  <ms-responsibility [responsibility]="vm.coordination" />

  <h2>Le conseil d'administration</h2>
  <p>L'association est gérée par un conseil d'administration collégial:</p>
  <ms-responsibility [responsibility]="vm.council" />
}
