<nav class="navbar navbar-expand-xl navbar-dark bg-dark py-0" *ngIf="vm$ | async as vm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <span class="visually-hidden">Accueil</span>
      <img src="/assets/logo.jpg" style="width: 59px; height: 50px" alt="" />
    </a>
    <button
      *ngIf="vm.user"
      class="navbar-toggler"
      type="button"
      aria-controls="navbar"
      [attr.aria-expanded]="expanded"
      aria-label="Afficher ou masquer la navigation"
      (click)="toggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar" [ngbCollapse]="!expanded">
      <ul *ngIf="vm.user" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/lodging" (click)="collapse()">
            <ms-icon [icon]="icons.lodging"></ms-icon>
            Hébergeurs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/association" (click)="collapse()">
            <ms-icon [icon]="icons.association"></ms-icon>
            L'association
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts" (click)="collapse()">
            <ms-icon [icon]="icons.contacts"></ms-icon>
            Contacts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/activities" (click)="collapse()">
            <ms-icon [icon]="icons.activities"></ms-icon>
            Agenda
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/volunteering" (click)="collapse()">
            <ms-icon [icon]="icons.volunteering"></ms-icon>
            Bénévolat
          </a>
        </li>
        <li *ngIf="vm.user.admin" class="nav-item me-2" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="admin-dropdown" role="button">
            <ms-icon [icon]="icons.administration"></ms-icon>
            Administration
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="admin-dropdown"
            class="dropdown-menu dropdown-menu-dark"
          >
            <a ngbDropdownItem routerLink="/users" (click)="collapse()">
              <ms-icon [icon]="icons.users"></ms-icon>
              Utilisateurs
            </a>
            <a ngbDropdownItem routerLink="/responsibilities" (click)="collapse()">
              <ms-icon [icon]="icons.responsibilities"></ms-icon>
              Responsabilités
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <ng-container *ngIf="vm.user">
          <li class="nav-item me-2" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="user-dropdown" role="button">
              <ms-icon [icon]="icons.user"></ms-icon>
              {{ vm.user.displayName }}
            </a>
            <div
              ngbDropdownMenu
              aria-labelledby="user-dropdown"
              class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
            >
              <a ngbDropdownItem routerLink="/contact" (click)="collapse()">
                <ms-icon [icon]="icons.myContact"></ms-icon>
                Renseigner mes coordonnées
              </a>
              <a ngbDropdownItem routerLink="/change-password" (click)="collapse()">
                <ms-icon [icon]="icons.changePassword"></ms-icon>
                Changer de mot de passe
              </a>
              <a ngbDropdownItem role="button" (click)="logout(); collapse()">
                <ms-icon [icon]="icons.logout"></ms-icon>
                Déconnexion
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" tabindex="0" (click)="logout(); collapse()">
              <span class="visually-hidden">Déconnexion</span>
              <ms-icon [icon]="icons.logout"></ms-icon>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="!vm.user">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <ms-icon [icon]="icons.login"></ms-icon>
              Identification
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
