<div class="modal-header">
  <h1 class="fs-4 modal-title">Utilisateur créé</h1>
  <button
    type="button"
    class="btn-close"
    aria-label="Fermer"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <p>L'utilisateur {{ user.displayName }} a bien été créé.</p>
  <p>
    Pour qu'il ou elle sache comment accéder à l'application, <br />
    <strong class="text-danger">envoie-lui un email</strong>&nbsp;!
  </p>
  <div>
    Tu peux copier-coller un exemple d'email via ce lien
    <div class="ms-3 text-secondary">
      <button type="button" class="btn btn-link btn-sm" (click)="copyEmail(user)">
        <ms-icon [icon]="icons.resetPasswordEmail" class="me-1"></ms-icon>
        Choix du mot de passe
      </button>
    </div>
    qui est aussi sur sa fiche utilisateur.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
    OK, j'ai compris
  </button>
</div>
