@if (vm$ | async; as vm) {
  <div class="row justify-content-md-center">
    <div class="col col-md-8 col-lg-6">
      <ms-page-title title="Renseigner mes coordonnées" />
      <h1>Renseigner mes coordonnées</h1>

      <div class="alert alert-dark">
        <div class="d-flex gap-3">
          <ms-icon [icon]="icons.info" class="fs-4" />
          <div class="flex-grow-1">
            <p>Pourquoi renseigner tes coordonnées&nbsp;?</p>
            Cela permet aux autres utilisateurs de cette application, qui sont membres de la Maison
            Solidaire, de plus facilement rentrer en contact avec toi. C'est particulièrement
            intéressant si tu es responsable ou référent de quelque chose dans l'association.
            <br />
            Mais tu es libre à tout moment de supprimer ces informations si tu ne désires plus les
            partager.
          </div>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="save(vm)">
        <div class="mb-3">
          <label for="email" class="form-label">
            <ms-icon [icon]="icons.email" class="me-1" />
            Adresse email
          </label>
          <input formControlName="email" type="email" class="form-control" id="email" />
          <div class="form-text">Laisser vide si tu ne désires pas partager ton adresse email</div>
          <val-errors controlName="email" label="L'adresse email" />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">
            <ms-icon [icon]="icons.phone" class="me-1" />
            Téléphone fixe
          </label>
          <input formControlName="phone" type="tel" class="form-control" id="phone" />
          <div class="form-text">
            Laisser vide si tu ne désires pas partager ton numéro de téléphone fixe
          </div>
          <val-errors controlName="phone" label="Le téléphone fixe" />
        </div>
        <div class="mb-3">
          <label for="mobile" class="form-label">
            <ms-icon [icon]="icons.mobile" class="me-1" />
            Téléphone mobile
          </label>
          <input formControlName="mobile" type="tel" class="form-control" id="mobile" />
          <div class="form-text">
            Laisser vide si tu ne désires pas partager ton numéro de téléphone mobile
          </div>
          <val-errors controlName="mobile" label="Le téléphone mobile" />
        </div>
        <div class="mb-3">
          <label for="whatsapp" class="form-label">
            <ms-icon [icon]="icons.whatsapp" class="me-1" />
            N° de téléphone Whatsapp
          </label>
          <input formControlName="whatsapp" type="tel" class="form-control" id="whatsapp" />
          <div class="form-text">Laisser vide si tu ne désires pas communiquer via Whatsapp</div>
          <val-errors controlName="whatsapp" label="Le n° de téléphone Whatsapp" />
        </div>
        <div class="text-end">
          <button class="btn btn-primary me-2" [disabled]="(saving.isSpinning | async) === true">
            <ms-spinning-icon
              [icon]="icons.save"
              [spinner]="saving"
              message="enregistrement en cours..."
            />
            Enregistrer
          </button>
          <a class="btn btn-danger" routerLink="/contacts">
            <ms-icon class="me-1" [icon]="icons.cancel" />
            Annuler
          </a>
        </div>
      </form>
    </div>
  </div>
} @else {
  <ms-loading-spinner />
}
