@if (vm(); as vm) {
  <div class="row justify-content-md-center">
    <div class="col col-md-8 col-lg-6">
      <ms-page-title title="Modification de responsabilité" />
      <h1>
        Modification des responsables de <em>{{ vm.editedResponsibility.name }}</em>
      </h1>

      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="col col-md-6 mb-3">
          <label class="form-label" for="contact">Ajouter un responsable</label>
          <input
            id="contact"
            class="form-control"
            [formControl]="contactFormControl"
            [ngbTypeahead]="contactTypeahead"
            [resultFormatter]="contactFormatter"
            (selectItem)="selectContact($event)"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Responsables (dans l'ordre)</label>
          <div
            cdkDropList
            cdkDropListOrientation="vertical"
            class="contact-list"
            (cdkDropListDropped)="drop($event)"
          >
            @for (contact of contacts; track contact.id) {
              <div
                cdkDrag
                cdkDragBoundary=".contact-list"
                class="border bg-light row p-1 gx-1 align-items-center contact-box"
              >
                <div cdkDragHandle class="col" style="cursor: move">{{ contact.name }}</div>
                <div class="col-auto">
                  <button (click)="removeContact(contact)" class="btn btn-sm btn-link text-danger">
                    <ms-icon [icon]="icons.trash" />
                  </button>
                </div>
              </div>
            }
          </div>
          <div class="form-text">Tu peux glisser/déposer les contacts pour les réordonner</div>
          <val-errors controlName="contacts">
            <ng-template valError="required">Il faut au moins un responsable</ng-template>
          </val-errors>
        </div>

        <div class="mb-3 text-end">
          <button class="btn btn-primary me-2" [disabled]="saving.isSpinning()">
            <ms-spinning-icon
              [icon]="icons.save"
              [spinner]="saving"
              message="enregistrement en cours..."
            />
            Enregistrer
          </button>
          <a class="btn btn-danger" routerLink="/responsibilities">
            <ms-icon class="me-1" [icon]="icons.cancel" />
            Annuler
          </a>
        </div>
      </form>
    </div>
  </div>
} @else {
  <ms-loading-spinner />
}
