<ms-page-title title="Informations et ressources pour les hébergeurs" />

@if (vm(); as vm) {
  <h1>Informations et ressources pour les hébergeurs</h1>

  <div class="row">
    <div class="col-12 col-md-auto order-md-1">
      <div class="sidebar">
        <h2 class="fs-6">Sur cette page</h2>
        <ul class="list-unstyled small d-flex flex-column gap-2">
          <li>
            <a routerLink="." fragment="help" (click)="scrollTo('help')">Besoin d'aide</a>
          </li>
          <li>
            <a routerLink="." fragment="appointments" (click)="scrollTo('appointments')"
              >Rendez-vous récurrents</a
            >
          </li>
          <li>
            <a routerLink="." fragment="communicate" (click)="scrollTo('communicate')"
              >Communiquer entre nous</a
            >
          </li>
          <li>
            <a routerLink="." fragment="learning" (click)="scrollTo('learning')"
              >Ressources pour apprendre</a
            >
          </li>
          <li>
            <a routerLink="." fragment="resources" (click)="scrollTo('resources')"
              >Ressources pour les hébergeurs</a
            >
          </li>
          <li>
            <a routerLink="." fragment="culture" (click)="scrollTo('culture')"
              >Sorties culturelles</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md">
      <div class="card card-warning mb-2" id="help">
        <div class="card-body bg-light">
          <h2>Besoin d'aide&nbsp;?</h2>

          <p>
            Peut-être trouveras-tu des réponses à tes questions dans le
            <a [href]="vm.bookUrl">livret des hébergeurs</a> ou dans le
            <a [href]="vm.rulesUrl">règlement de la Maison Solidaire</a>.
          </p>

          <h3 class="fs-5">Référents</h3>
          <p>
            En cas de question ou problème, tu peux contacter l'un des référents hébergement&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.lodging" />

          <h3 class="fs-5">Tu veux voir le coordinateur&nbsp;?</h3>
          <p>
            La Maison Solidaire n'est pas seulement son lieu de travail&nbsp;: c'est aussi son lieu
            de vie et celui des jeunes qu'il héberge. Afin de leur permettre d'avoir une vie, merci
            de respecter
            <a routerLink="/association">les horaires d'ouverture de la Maison Solidaire</a>.
          </p>
          <p>Pour s'assurer de la disponibilité de Valentin, prend rendez-vous avec lui&nbsp;:</p>
          <ms-responsibility [responsibility]="vm.coordination" />
        </div>
      </div>
      <div class="card card-primary mb-2" id="appointments">
        <div class="card-body">
          <h2>Rendez-vous récurrents</h2>

          <h3 class="fs-5">Colis alimentaires et produits d'hygiène</h3>
          <p>
            Pour obtenir leur colis alimentaire hebdomadaire et leurs produits d'hygiène et
            d'entretien mensuels, les jeunes doivent se rendre à la Maison Solidaire, chaque
            mercredi, entre 16h00 et 18h30.
            <br />
            En cas de problème ou d'impossibilité, ils doivent prévenir sur le groupe Whatsapp
            <em>Tribu solidaire</em> ou contacter l'un des responsables, idéalement la veille avant
            22h00&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.food" />

          <h3 class="fs-5">Vêtements</h3>
          <p>
            S'ils ont besoin de vêtements, les jeunes peuvent se rendre à la Maison Solidaire les
            mercredis entre 16h00 et 18h30, ou les vendredis entre 16h00 et 18h00.
            <br />
            Les responsables du vestiaires à contacter sont&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.clothes" />

          <h3 class="fs-5">Recharge des cartes de téléphone</h3>
          <p>
            Pour recharger leur carte de téléphone, les jeunes doivent se rendre à la Maison
            Solidaire, les derniers mercredis du mois entre 16h00 et 18h30.
            <br />
            En cas de problème ou d'impossibilité, ils doivent prévenir sur le groupe Whatsapp
            <em>Tribu solidaire</em> ou contacter l'un des responsables, idéalement la veille avant
            22h00&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.phones" />

          <h3 class="fs-5">Recharge des cartes de transport</h3>
          <p>
            Pour recharger leur carte de transport en commun, les jeunes doivent se rendre à la
            Maison Solidaire, les mercredis entre 16h00 et 18h30.
            <br />
            En cas de problème ou d'impossibilité, ils doivent prévenir sur le groupe Whatsapp
            <em>Tribu solidaire</em> ou contacter l'un des responsables, idéalement la veille avant
            22h00&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.transport" />

          <h3 class="fs-5">Cours de français</h3>
          <p>
            Si le jeune que tu héberges suit les cours de français de la Maison Solidaire, ils ont
            lieu, sauf contre-indication, à l'Amicale Laïque Michelet (41, rue des Passementiers)
            les mardi, mercredi et vendredi de 14h00 à 16h00.
            <br />
            Pendant les vacances scolaires, certains cours ne sont pas assurés.
            <br />
            Pour toute question, contacter l'un des responsables&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.french" />

          <h3 class="fs-5">
            Demandes concernant la situation administrative, juridique ou scolaire
          </h3>
          <p>
            Si le jeune veut poser des questions relatives à ses papiers au coordinateur, il doit
            prendre rendez-vous au préalable avec lui en envoyant un message par Whatsapp ou
            SMS&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.coordination" />

          <h3 class="fs-5">Questions médicales</h3>
          <p>
            Pour toute question médicale, tu (ou le jeune que tu héberges) peux contacter l'une des
            personnes suivantes. Jacques est médecin et peut être contacté pour toute question. Aude
            est infirmière et peut être contactée pour des questions plus pratiques (bobologie,
            conseils).
          </p>
          <ms-responsibility [responsibility]="vm.health" />
        </div>
      </div>
      <div class="card card-primary mb-2" id="communicate">
        <div class="card-body">
          <h2>Comment communiquer entre nous&nbsp;?</h2>
          <p>
            Les hébergeurs sont encouragés à communiquer entre eux, à partager leurs expériences,
            leurs questionnements, etc.
          </p>
          <p>
            Pour cela, deux canaux de communication existent&nbsp;: la <em>mailing list</em>&ngsp;
            <em
              ><a href="mailto:hebergementms42&#64;googlegroups.com"
                >hebergementms42&#64;googlegroups.com</a
              ></em
            >
            (il suffit d'envoyer un mail à cette adresse pour que tous les inscrits le reçoivent et
            puisse y répondre) et le groupe Whatsapp <em>HebergeursMaisonSolidaire</em>.
            <br />
            Contacte un responsable de l'hébergement pour t'y inscrire si ce n'est pas déjà
            fait&nbsp;:
          </p>
          <ms-responsibility [responsibility]="vm.lodging" />
          <p>
            Pour une demande plus personnelle, vous pouvez envoyer un mail à l'adresse
            <a href="mailto:hebergementms42&#64;gmail.com">hebergementms42&#64;gmail.com</a>. Seuls
            l'un des responsables de l'hébergement recevra le message.
          </p>
        </div>
      </div>
      <div class="card card-primary mb-2" id="learning">
        <div class="card-body">
          <h2>Ressources pour apprendre</h2>
          <p>
            Le niveau de français et le niveau scolaire des jeunes que nous hébergeons est
            extrêmement variable. Il y a une constante cependant&nbsp;: il faut quelque temps avant
            qu'ils puissent être scolarisés. Si vous désirez aider les jeunes que vous hébergez à
            progresser en français ou en maths, voici quelques ressources qui peuvent vous être
            utiles. Ça peut aussi permettre de les occuper utilement pendant la journée.
          </p>
          <div class="alert alert-success">
            <div class="d-flex gap-3">
              <ms-icon [icon]="icons.idea" class="fs-4" />
              <div class="flex-grow-1">
                Si tu as des sites ou applications à partager, n'hésite pas à en faire part sur la
                mailing list ou le groupe Whatsapp&nbsp;!
              </div>
            </div>
          </div>
          <ul>
            <li>
              <a href="https://apprendre.tv5monde.com/fr">Apprendre le français avec TV5 Monde</a
              >&nbsp;: un test de niveau de français, et de très nombreux exercices, classés par
              niveau et thème, consistant à apprendre sur base de courtes émissions de télévision.
              Difficile pour les jeunes d'utiliser TV5 Monde pour apprendre en autonomie, mais si tu
              es prêt·e à passer un peu de temps pour apprendre avec eux, c'est aussi l'occasion
              d'aborder des sujets très intéressants.
            </li>
            <li>
              <a href="https://fr.islcollective.com/">iSLCOLLECTIVE</a>&nbsp;: de nombreuses fiches
              à imprimer, mais aussi des leçons vidéo, partagées par des professeurs de FLE
              (Français Langue Étrangère).
            </li>
            <li>
              <a href="https://maitrelucas.fr/">Maître Lucas</a>&nbsp;: des vidéos à regarder, des
              jeux éducatifs, des fiches à télécharger, pour apprendre le français et les maths, du
              CP au CM2.
            </li>
            <li>
              <a href="https://www.librairie-interactive.com/cursives-les-rondes"
                >Apprendre à écrire</a
              >&nbsp;: des fiches imprimables pour apprendre à écrire les lettres à la main.
            </li>
            <li>
              <a href="https://www.ortholud.com/">Ortholud</a>&nbsp;: des exercices de français,
              pour des jeunes qui savent lire et écrire, mais qui peuvent être faits en autonomie.
            </li>
            <li>
              <a href="https://www.lumni.fr/">Lumni</a>&nbsp;: toutes les matières, du primaire au
              lycée.
            </li>
            <li>
              <a href="https://www.youtube.com/&#64;Cestpassorcierofficiel">C'est pas sorcier</a
              >&nbsp;: les célèbres émissions scientifiques, disponibles sur Youtube. Rappelle-toi
              que les réglages de chaque vidéo permettent de les passer en vitesse réduite, si
              nécessaire.
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.solocode.anton">ANTON</a
              >&nbsp;: une application à installer sur téléphone portable (Android), qui permet
              d'apprendre le français en autonomie.
            </li>
            <li>
              <a href="https://www.iletaitunehistoire.com/">Il était une histoire</a>&nbsp;: des
              histoires courtes à regarder, écouter, lire, et avec lesquelles jouer.
            </li>
          </ul>
        </div>
      </div>
      <div class="card card-primary mb-2" id="resources">
        <div class="card-body">
          <h2>Ressources pour les hébergeurs</h2>
          <p>
            <a [href]="vm.legalRouteUrl">Le parcours juridique des Mineurs Non Accompagnés</a>
          </p>
          <p>
            Ce document est un compte-rendu d'une rencontre avec Maître Julie Royon, qui est l'une
            des avocates qui s'occupe des jeunes de la Maison Solidaire, et qui nous explique leur
            parcours juridique.<br />
            Vous y trouverez aussi, en fin de document, un schéma tentant de résumer ce parcours en
            une page.
          </p>
        </div>
      </div>
      <div class="card card-primary mb-2" id="culture">
        <div class="card-body">
          <h2>Sorties culturelles</h2>
          <p>
            Pendant les vacances scolaires, Il arrive que des sorties culturelles soient organisées
            par Daphné pour nos jeunes hébergés. Surveillez le groupe WhatsApp des hébergeurs pour
            être tenu au courant.
          </p>
          <ms-responsibility [responsibility]="vm.culture" />
        </div>
      </div>
    </div>
  </div>
}
