@if (vm$ | async; as vm) {
  <div class="row justify-content-md-center">
    <div class="col col-md-10 col-lg-8">
      <ms-page-title
        [title]="vm.mode === 'edit' ? vm.editedActivity!.title : 'Nouvelle activité'"
      />
      @switch (vm.mode) {
        @case ('create') {
          <h1>Création d'une nouvelle activité</h1>
        }
        @case ('edit') {
          <h1>
            Modification de l'activité <em>{{ vm.editedActivity!.title }}</em>
          </h1>
        }
      }

      <form [formGroup]="form" (ngSubmit)="save(vm)">
        <div class="row">
          <div class="col-md-8">
            <div class="mb-3">
              <label for="title" class="form-label">Titre</label>
              <input formControlName="title" class="form-control" id="title" />
              <val-errors controlName="title" label="Le titre" />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input formControlName="date" type="date" class="form-control" id="date" />
              <val-errors controlName="date" label="La date" />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>

          <ul ngbNav #descriptionNav="ngbNav" class="nav-pills">
            <li ngbNavItem="editor">
              <a ngbNavLink>Éditeur</a>
              <ng-template ngbNavContent>
                <div class="description-content d-flex flex-column">
                  <textarea
                    formControlName="description"
                    class="form-control flex-grow-1"
                    id="description"
                  ></textarea>
                  <div class="form-text">
                    Pense à y mentionner les horaires, le lieu, le lieu de rendez-vous, le public
                    cible, s'il faut s'inscrire ou pas, ce qu'il faut prévoir comme matériel, etc.
                    Tu peux
                    <a href="https://flus.fr/carnet/markdown.html" target="markdown-guide"
                      >utiliser du markdown</a
                    >
                    pour mettre en forme la description.
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="preview">
              <a ngbNavLink>Prévisualisation</a>
              <ng-template ngbNavContent>
                <div
                  class="description-content border rounded p-2 bg-light"
                  style="min-height: 300px"
                >
                  <div [msMarkdown]="form.controls.description.value"></div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="descriptionNav" class="mt-2"></div>

          <val-errors controlName="description" label="La description" />
        </div>
        <div class="text-end">
          <button class="btn btn-primary me-2" [disabled]="(saving.isSpinning | async) === true">
            <ms-spinning-icon
              [icon]="icons.save"
              [spinner]="saving"
              message="enregistrement en cours..."
            />
            Enregistrer
          </button>
          <a class="btn btn-danger" routerLink="/activities">
            <ms-icon class="me-1" [icon]="icons.cancel" />
            Annuler
          </a>
        </div>
      </form>
    </div>
  </div>
} @else {
  <ms-loading-spinner />
}
