<ms-page-title title="Responsabilités" />
<div class="row justify-content-md-center">
  <div class="col col-md-8 col-lg-6">
    @if (responsibilities(); as responsibilities) {
      <h1>Responsabilités</h1>

      @for (responsibility of responsibilities; track responsibility.id) {
        <div class="card card-primary mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h2 class="fs-5">{{ responsibility.name }}</h2>
                <ms-responsibility [responsibility]="responsibility" />
              </div>
            </div>
          </div>
          @if (user()?.admin) {
            <div class="card-footer text-end">
              <a
                class="btn btn-outline-secondary btn-sm"
                [routerLink]="['/responsibilities', responsibility.slug, 'edit']"
              >
                <ms-icon [icon]="icons.edit" class="me-1" />
                Modifier
              </a>
            </div>
          }
        </div>
      }
    } @else {
      <ms-loading-spinner />
    }
  </div>
</div>
