@import 'custom-bootstrap';

body {
  padding-top: $navbar-height;
}

.invalid-feedback {
  display: block;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
}

.btn-link:focus-visible {
  outline: 1.5px solid $link-color;
}

.card-primary {
  border-left: 5px solid $primary;
}

.card-warning {
  border-left: 5px solid $warning;
}
