<ng-container *ngIf="vm$ | async as vm">
  <h1 class="text-center">La Maison Solidaire</h1>

  <div *ngIf="!vm.user" class="alert alert-dark">
    <div class="d-flex gap-3">
      <ms-icon [icon]="icons.info" class="fs-4"></ms-icon>
      <p class="flex-grow-1">
        Ce site est réservé aux membres et bénévoles de la Maison Solidaire.<br />
        <a href="https://atpac-maisonsolidaire.fr/"
          >Cliquez ici pour accéder au site public de la Maison Solidaire</a
        >.
      </p>
    </div>
  </div>

  <div *ngIf="!vm.user" class="text-center">
    <div>
      <a class="btn btn-primary btn-lg" routerLink="/login">
        <ms-icon class="me-1" [icon]="icons.login"></ms-icon>
        Identification
      </a>
    </div>
  </div>

  <div *ngIf="vm.user" class="row">
    <div class="col col-lg-6 offset-lg-3">
      <div class="alert alert-dark">
        <div class="d-flex gap-3">
          <ms-icon [icon]="icons.welcome" class="fs-4"></ms-icon>
          <div class="flex-grow-1">
            <p>
              Bienvenue {{ vm.user | username }}&nbsp;!
              <br />
              Et merci encore pour ton engagement&nbsp;!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="vm.user" class="row mt-2">
    <div class="col-6 col-lg-3 offset-lg-3">
      <a routerLink="/loding" class="d-block btn btn-outline-primary h-100">
        <div class="fs-1">
          <ms-icon [icon]="icons.lodging"></ms-icon>
        </div>
        <div class="fs-4">Informations et ressources pour les hébergeurs</div>
      </a>
    </div>
    <div class="col-6 col-lg-3">
      <a routerLink="/calendar" class="d-block btn btn-outline-primary h-100">
        <div class="fs-1">
          <ms-icon [icon]="icons.association"></ms-icon>
        </div>
        <div class="fs-4">L'association ATPAC Maison Solidaire</div>
      </a>
    </div>
  </div>
</ng-container>
