@import '../../common';

.darken {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.activities {
  font-family: 'Comic Neue', 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', sans-serif;
  font-style: italic;
  background-color: $yellow-200;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.75);
  transform: rotate(4deg);
  width: 300px;
  height: 300px;
  overflow: hidden;
  a {
    color: darken($link-color, 5%);
    &:hover {
      color: darken($link-hover-color, 5%);
    }
  }
}

.activity-date {
  font-weight: bold;
  color: $pink-600;
}
