<ms-page-title title="Renseigner le programme de la semaine"></ms-page-title>

<div class="row justify-content-md-center">
  <div class="col col-md-8 col-lg-6">
    <h1>Renseigner le programme de la semaine</h1>

    <form [formGroup]="form">
      <div class="mb-3">
        <label class="form-label" for="week">Semaine</label>
        <select formControlName="week" class="form-select" id="week">
          <option *ngFor="let week of weeks; index as i" [ngValue]="week">
            {{ week | week }}
            <ng-container *ngIf="i === 0"> (semaine en cours)</ng-container>
            <ng-container *ngIf="i === 1"> (semaine prochaine)</ng-container>
          </option>
        </select>
      </div>
      <div class="mb-3">
        <button
          class="btn btn-primary me-2"
          type="button"
          (click)="fileInput.click()"
          [disabled]="(saving.isSpinning | async) === true"
        >
          <ms-spinning-icon
            [icon]="icons.upload"
            [spinner]="saving"
            message="enregistrement en cours..."
          ></ms-spinning-icon>
          Choisir le fichier et enregistrer
        </button>
        <a class="btn btn-danger" routerLink="/volunteering">
          <ms-icon class="me-1" [icon]="icons.cancel"></ms-icon>
          Annuler
        </a>
        <input
          class="d-none"
          type="file"
          accept="application/pdf"
          (change)="upload($event)"
          #fileInput
        />
      </div>
    </form>
  </div>
</div>
